# MacOS files
.DS_Store

# PyCharm files
.idea
__pycache__/
*.pyc

# Spotify personal data files
spotify_data/spotify_credentials.json
.cache

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*